main {
  width: fit-content;
  max-width: 1200px;

  height: fit-content;
  background-color: #2b0057;
  /* -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb; */
  /* box-shadow: 0px 5px 15px 8px #e4e7fb; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}

h2 {
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
  cursor: default;
}

#leaderboard {
  width: 100%;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #fff;
  cursor: default;
}

tr {
  transition: all 0.2s ease-in-out;
  border-radius: 0.2rem;
  height: fit-content;
  max-height: 80px;
}


tr:not(:first-child):hover {
  background-color: #2b0057;
  transform: scale(1.03);
  border: radius 1rem;

}

tr:nth-child(odd) {
  background-color: #4a02928a;
}
tr:not(:first-child):nth-child(odd):hover {
  background-color: #4a02928a;
}

.place {
  color: #ffffff;
  background-color: transparent !important;
}
/* .first {
  color: #ff0000 !important;
} */

td {
  max-height: 80px;
  font-family: "Rubik", sans-serif;
  padding: 1rem 2rem;
  position: relative;
}

.place {
  width: 1rem;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
}

.name {
  text-align: left;
  font-size: 18px;
  vertical-align: middle;
}

.points {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
}

.points:first-child {
  width: 10rem;
}

.gold-medal {
  height: 3rem;
  margin-left: 1.5rem;
}

.ribbon {
  width: calc(100% + 2rem) !important; /* Expand width by 2rem on both sides */
  height:86px;
  background-color: #5e03b9;
  position: absolute;
  left: -1rem;
  border-radius: 0.5rem;

}

#leaderboard tr:not(:first-child):hover {
  transform: scale(1.03);
  width: 1100px;
  background: transparent;  
  z-index: 1;
}
#leaderboard tr:not(:first-child):hover td{
  z-index: 4;

}
#leaderboard tr:not(:first-child):hover:has(.place, .points){
  position: relative;
}
#leaderboard tr:not(:first-child):hover:has(.place, .points)::after{
  content: "";
  width: calc(100% + 8px);
  display: block;
  height: calc(100% + 8px);
  background-color:  #5e03b9 !important;
  position: absolute;
  left: -4px;
  top: -4px;
  border-radius: 0.5rem;
  z-index: 3;
}


@media screen and (max-width: 768px) {

  .place {
    font-size: 32px;
  }
  
  .name, .points {
    font-size: 16px;
  }
  
  .gold-medal {
    height: 2rem;
    margin-left: 1rem;
  }
  .ribbon {
    height:80px;
  }
}
@media screen and (max-width: 375px) {
  .place {
    font-size: 28px;
  }
  
  .name, .points {
    font-size: 14px;
  }
  
  .gold-medal {
    height: 1rem;
    margin-left: 1rem;
  }
  .ribbon {
    height:80px;
  }
}