.theme-selector  .select {
    width: fit-content;
    cursor: pointer;
    position: absolute;
    transition: 300ms;
    color: white;
    overflow: hidden;
    height: fit-content;
    z-index: 2;

}

.theme-selector .selected {
    background-color: #333333;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
    position: relative;
    z-index: 100000;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme-selector .arrow {
    position: relative;
    right: 0px;
    height: 10px;
    transform: rotate(-90deg);
    width: 25px;
    fill: white;
    z-index: 100000;
    transition: 300ms;
}

.theme-selector .options {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    background-color: #333333;
    position: relative;
    top: -100px;
    opacity: 0;
    transition: 300ms;
 
}

.theme-selector .select:hover>.options {
    opacity: 1;
    top: 0;
   
}

.theme-selector .select:hover>.selected .arrow {
    transform: rotate(0deg);
}

.theme-selector .option {
    border-radius: 5px;
    padding: 5px;
    transition: 300ms;
    background-color: #333333;
    width: 150px;
    font-size: 15px;
}

.theme-selector .option:hover {
    background-color: #4d4d4f;
}

.theme-selector .options input[type="checkbox"] {
    display: none;
}

.theme-selector .options label {
    display: inline-block;
}

.theme-selector .options label::before {
    content: attr(data-tx);
}

.theme-selector .options input[type="checkbox"]:checked+label {
    display: none;
}

.theme-selector .options input[type="checkbox"]#all:checked+label {
    display: none;
}


.theme-selector .select:has(.options input[type="checkbox"]#opt0:checked) .selected::before {
    content: attr(data-def);
}
.theme-selector .select:has(.options input[type="checkbox"]#opt1:checked) .selected::before {
    content: attr(data-on);
}

.theme-selector .select:has(.options input[type="checkbox"]#opt1:checked) .selected::before {
    content: attr(data-on);
}

.theme-selector .select:has(.options input[type="checkbox"]#opt2:checked) .selected::before {
    content: attr(data-tw);
}

.theme-selector .select:has(.options input[type="checkbox"]#opt3:checked) .selected::before {
    content: attr(data-th);
}

.theme-selector .select:has(.options input[type="checkbox"]#opt4:checked) .selected::before {
    content: attr(data-fo);
}

.theme-selector .select:has(.options input[type="checkbox"]#opt5:checked) .selected::before {
    content: attr(data-fi);
}

.theme-selector .select:has(.options input[type="checkbox"]#opt6:checked) .selected::before {
    content: attr(data-si);
}

.theme-selector .select:has(.options input[type="checkbox"]#opt7:checked) .selected::before {
    content: attr(data-se);
}

.theme-selector .select:has(.options input[type="checkbox"]#opt8:checked) .selected::before {
    content: attr(data-ei);
}

.theme-selector .select:has(.options input[type="checkbox"]#opt9:checked) .selected::before {
    content: attr(data-ni);
}

.theme-selector .select:has(.options input[type="checkbox"]#opt10:checked) .selected::before {
    content: attr(data-te);
}

.theme-selector .select:has(.options input[type="checkbox"]#opt11:checked) .selected::before {
    content: attr(data-el);
}