@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;

}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f001e;
}

.hero-body {
  padding: 0 !important;
}

section>div {
  max-width: 1200px;
  margin: 0 auto;
}

.blurple {
  color: #5e03b9;
}

.bg-base {
  background-color: #2b0057 !important;
}

/* .footer{
  background-color: #0f001e !important;

} */
.hero.is-fullheight {
  min-height: initial !important;
  max-height: 600px;
}

.logo {
  height: 100px;
  width: auto;
  display: block;
  max-height: initial !important;
}

#backtotop {
  display: inline-block;
  background-color: #5e03b9 ;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#backtotop:hover {
  cursor: pointer;
  background-color:  #5e03b9 !important;
  opacity: 1 !important;
}

#backtotop:active {
  opacity: 1 !important;
}

#backtotop.show {
  opacity: 0.7;
  visibility: visible;
}

.navbar {

  max-width: 1200px;

  margin: auto;
  align-items: center;
}

.navbar-item:nth-child(1) {
  padding-left: 0 !important;
}

.navbar-item:has(.button) {
  padding-right: 0 !important;

}

.navi {
  width: 100%;
  height: 132px;
  position: fixed;
  z-index: 30;
  background-color: #2b0057;
}
.navi:has(nav.nav-w){
  background-color: #0f001e !important;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1) !important;
}
#navbarBasicExample {
  padding-top: 40px;
  height: fit-content;

}

.navbar-item,
.navbar-link {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-size: 20px;
}

.navbar-item:hover {
  background-color: transparent !important;
  color: white !important;
}

.navbar-link:hover {
  background-color: transparent !important;
  color: white !important;
}

.navbar-menu {
  animation: navAnimOpen 0.2s ease-in-out;
}

@keyframes navAnimOpen {
  0% {
    display: none;
    opacity: 0;
    max-height: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 1;
    max-height: 396px;
  }

  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

nav,
.navbar-menu {
  background-color: #2b0057 !important;
}

.navbar-item.nav-dark,
.navbar-link.nav-dark {
  color: #ffffff !important;
}

.navbar-item,
.navbar-link {
  color: white !important;
}

nav.nav-w {
  background-color: #0f001e !important;
}

.nav-w {
  background-color: #0f001e !important;
  /* box-shadow: 100px 2px 10px rgba(0, 0, 0, 0.1) !important; */
}

.mb-12 {
  margin-bottom: 6rem;
}

.mt-12 {
  margin-top: 6rem;
}

.ml-12 {
  margin-left: 6rem;
}

.mr-12 {
  margin-right: 6rem;
}

.img-col-ml-13 {
  margin-left: 13rem;
}

.img-col-mr-13 {
  margin-right: 13rem;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.line {
  background: #00d1b2;
  background: #00d1b2;
  width: 150px;
  height: 5px;
}

.line2 {
  background: #00d1b2;
  background: #00d1b2;
  width: 75px;
  height: 5px;
}

.line-center {
  margin: 0 auto;
}

.line.blurple {
  background: #5e03b9;
}

.title.lined {
  margin-bottom: 0px;
}

.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

.vert-move2 {
  -webkit-animation: mover 0.5s infinite alternate;
  animation: mover 0.5s infinite alternate;
}


.button.is-blurple {
  background-color: #5e03b9 ;
  border-color: transparent;
  color: #fff;
  transition: 0.4s;
  border: none;
}
.button.is-blurple:hover{
  transform: scale(1.05);
 
}
.button{
  transition: 0.4s;
  border: 1px solid #5e03b9  !important;
}

.button.is-primary:hover{
  
  border: none;
  background-color: #5e03b9 !important;

}
.single-feature {
  position: relative;
  z-index: 5;
}

.shape-right {
  position: absolute;
  top: -40px;
  right: 0;
  width: 40%;
  height: 100%;
  z-index: -1;
  opacity: 30%;
}

.shape-right img {
  width: 100%;
}

@media (max-width: 767px) {
  .hero.is-fullheight {

    max-height: 100vh;
  }

  .shape-right {
    display: none;
  }
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.navbar-burger {
  margin-top: 30px !important;
}
.navbar-burger span{
  font-size: 23px !important;
}
.shape-left {
  position: absolute;
  top: -80px;
  left: 90px;
  width: 35%;
  height: 100%;
  z-index: -1;
  opacity: 30%;
}

.shape-left img {
  width: 100%;
}

@media (max-width: 767px) {
  .shape-left {
    display: none;
  }
}


@media screen and (min-width:1000px) {
  .baneri {
    height: 400px;
    margin-right: 0 !important;
    filter: hue-rotate(388deg)
  }

}