.login {
    width: 460px;
    background-color: #2b0057;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 60px 30px;
    margin: 0px auto;
    margin-top: 50px;
    gap: 30px;
    
}

.login h2 {
    font-size: 30px;
    line-height: 35.6px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    padding-left: 16px;
    padding-right: 16px;
    /* margin-bottom: 32px; */
}

.login>div {
    display: flex;
    flex-direction: column;
    
}

.login>div>label {
    display: block;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    margin-bottom: 8px;
    letter-spacing: 0.24px;
}

.login>div>input {
    height: 44px;
    padding: 12px;
    background-color: #5e03b9;
    border: none;
    border-radius: 8px;
    outline: none;

}

.login>div>input:focus {
    background-color: #e8f0ff;
    outline: none;
    transition: background-color 0.3s ease;
}

.login>div:nth-child(4) {
    margin-top: 20px;
}

.login button {
    font-size: 14px;
    line-height: 20px;
    color: #eff6ff;
    background-color: #5e03b9;
    padding: 16px;
    border: 2px solid #5e03b9;
    border-radius: 8px;
    /* margin-top: 24px; */
    transition: 0.6s;

}

.login button:active {
    background-color: #eff6ff;
    color: #5e03b9;

}

.login>div:nth-last-child(1) {
    /* margin-top: 24px; */
    background-color: transparent;
}

.login>div>a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
}
.res{
    display: none;
}
.res.success {
    font-size: 14px;
    line-height: 20px;
    color: #eff6ff;
    background-color: #60eb04;
    padding: 16px;
    border: 2px solid #2c2c2e;
    border-radius: 8px;
    text-transform: uppercase;
}


.res.err {
    font-size: 14px;
    line-height: 20px;
    color: #eff6ff;
    background-color: #da0808;
    padding: 16px;
    border: 2px solid #2c2c2e;
    border-radius: 8px;
    text-transform: uppercase;
}
.resreg{
    display: flex;
    gap: 20px;
}