

.reset{
    width: 460px;    
    background-color: rgba(0, 0, 0, 0.51);    
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 60px 30px;
    margin: 0px auto;  
    margin-top: 50px;  
}
.reset h2{
    font-size: 30px;
    line-height: 35.6px;
    text-align: center;
    color: #e4e7eb;
    font-weight: 500;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 32px;
}
.reset > div{
    display: flex;
    flex-direction: column;
}
.reset > div > label{
    display: block;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    color: #ededed;
    margin-bottom: 8px;
    letter-spacing: 0.24px;
}
.reset > div > input{
    height: 44px;
    padding: 12px;
    background-color: #212121;
    border: none;
    border-radius: 8px;
    outline: none;

}
.reset > div > p{
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #ededed;
    margin-top: 4px;
    letter-spacing: 0.24px;
}

.reset button{
    font-size:14px;
    line-height: 20px;
    color: #eff6ff;
    background-color: #212121;
    padding: 16px;
    border: 2px solid #2c2c2e;
    border-radius: 8px;
    text-transform: uppercase;
    margin-top: 24px;
    transition: 0.6s;
}
.reset button:active{
    background-color: #eff6ff;
    color: #212121;

}
.reset > a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin-top: 24px;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
}
