{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='comp_styles/bulma.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='comp_styles/leaderboard.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='comp_styles/aos.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='comp_styles/scale.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='comp_styles/min.css') }}" />


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

<script src="{{ url_for('static', filename='js/jquery-3.6.0.js') }}"></script>

<!-- Back To Top Start -->
<a id="backtotop" data-tippy-content="Back To Top.">
    <i class="fa-solid fa-angle-up has-text-white fa-2xl mt-5"></i>
</a>
<!-- Back To Top End -->

<!-- Navbar Start -->
<div class="navi">


    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand mt-2 mb-2">
            <a class="navbar-item" href="#">
                <img class="logo" src="{{ url_for('static', filename='src/logo.png') }}" alt="logo image" />

                <!-- or if you want to use image -->
                <!-- <img
          src="image link or path"
          width="112"
          height="28"
        /> -->
            </a>

            <a role="button" class="navbar-burger has-text-white" data-target="navMenu" aria-label="menu"
                aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="#" class="navbar-item is-tab">
                    Home
                </a>

                <a href="#features" class="navbar-item is-tab">
                    Features
                </a>

                <a href="#stats" class="navbar-item is-tab">
                    Stats
                </a>

                <a href="#" class="navbar-item is-tab">
                    Docs
                </a>
            </div>

            <div class="navbar-end">
                <a href="#" class="navbar-item is-tab" target="_blank">
                    <i class="fa-brands fa-discord"></i>
                </a>

                <a href="https://github.com/AmiranRogava" class="navbar-item is-tab" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>

                <div class="navbar-item">
                    <div class="buttons">
                        <a href="login" class="button is-blurple">
                            <strong><i class="fa-solid fa-right-to-bracket mr-2"></i>
                                Login</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->

<!-- Hero Section Start -->
<section class="hero bg-base is-fullheight pt-6">
    <div class="hero-body">
        <div class="">
            <div class="columns">
                <div class="column mr-6 mt-12" data-aos="fade-up"
                    style=" display: flex; flex-direction: column; justify-content:center;">
                    <p class="title has-text-white has-text-weight-bold">
                        CodeQuest: Learn and Code
                    </p>
                    <p class="subtitle has-text-grey-light is-size-6 mt-3">

                        Welcome to CodeQuest, your go-to platform for coding practice! Our integrated editor lets you
                        tackle programming tasks directly in your browser. Whether you're starting out or refining your
                        skills, CodeQuest provides a smooth environment to practice, solve problems, and see your code
                        in action—all in one place!
                    </p>
                    <div class="buttons">
                        <a href="login" class="button is-info">
                            <strong>Login</strong>
                        </a>

                        <a href="register" class="button is-primary is-outlined">
                            <strong><i class="fa-solid fa-crown"></i> Register</strong>
                        </a>
                    </div>
                </div>
                <div class="column mt-6" data-aos="fade-left">
                    <img class="image has-image-centered vert-move mt-6 baneri"
                        src="{{ url_for('static', filename='src/panel.jpg') }}" alt="hero image" />

                </div>
            </div>
        </div>
    </div>

</section>
<!-- Hero Section End -->

<!-- Hero Waves Start -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#270046" fill-opacity="1"
        d="M0,288L24,261.3C48,235,96,181,144,154.7C192,128,240,128,288,149.3C336,171,384,213,432,202.7C480,192,528,128,576,133.3C624,139,672,213,720,213.3C768,213,816,139,864,101.3C912,64,960,64,1008,106.7C1056,149,1104,235,1152,240C1200,245,1248,171,1296,144C1344,117,1392,139,1416,149.3L1440,160L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z">
    </path>
</svg>
<!-- Hero Waves End -->

<!-- heading -->
<section id="features" class="section mt-6">
    <div class="has-text-centered">
        <h1 class="title lined">Features</h1>
        <div class="line line-center blurple"></div>
    </div>

    <!-- single feature 1 start (Left) -->
    <div class="single-feature">
        <div class="columns mt-6">
            <div class="column mr-6">
                <h3 class="title"><span class="blurple">#1</span> Switch Task by Language</h3>
                <p class="subtitle mt-3">
                    Easily switch between coding tasks tailored for Python, JavaScript, or C++. Select a language, and
                    instantly see relevant challenges with clear descriptions and point values. Focus on the skills you
                    want to sharpen, all within a user-friendly interface.
                </p>
            </div>
            <div class="column" data-aos="fade-left">
                <img class="image has-image-centered" src="{{ url_for('static', filename='src/features1.gif') }}"
                    alt="feature1 img" />
            </div>
        </div>
    </div>
    <!-- single feature 1 end (Left) -->

    <!-- single feature 2 start (Right) -->
    <div class="single-feature">
        <div class="columns mt-6">
            <div class="column" data-aos="fade-right">
                <img class="image has-image-centered" src="{{ url_for('static', filename='src/features2.gif') }}"
                    alt="feature1 img" />
            </div>
            <div class="column">
                <h3 class="title">
                    <span class="has-text-primary">#2</span> Seamless Task Selection
                </h3>
                <p class="subtitle mt-3">
                    Effortlessly choose a coding task and jump right into the editor with a single click. Whether you
                    need to switch tasks or languages, the intuitive interface lets you go back and forth smoothly,
                    keeping you focused and in control of your learning experience.
                </p>
            </div>
        </div>
    </div>
    <!-- single feature 2 end (Right) -->

    <!-- single feature 3 start (Left) -->
    <div class="single-feature">
        <div class="columns mt-6">
            <div class="column mr-6">
                <h3 class="title"><span class="has-text-warning">#3</span>
                    Dynamic Editor Customization
                </h3>
                <p class="subtitle mt-3">
                    Easily switch between Python, JavaScript, and C++ directly within the editor, and select your
                    preferred theme. Seamlessly customize your coding environment to suit your needs, keeping your focus
                    sharp and on the task at hand.
                </p>
            </div>
            <div class="column" data-aos="fade-left">
                <img class="image has-image-centered" src="{{ url_for('static', filename='src/features3.gif') }}"
                    alt="feature1 img" />
            </div>
        </div>
    </div>
    <!-- single feature 3 end (Left) -->

    <!-- single feature 4 start (Right) -->
    <div class="single-feature">
        <div class="columns mt-6">
            <div class="column" data-aos="fade-right">
                <img class="image has-image-centered" src="{{ url_for('static', filename='src/features4.gif') }}"
                    alt="feature1 img" />
            </div>
            <div class="column">
                <h3 class="title"><span class="has-text-info">#4</span>Task Execution and Progression</h3>
                <p class="subtitle mt-3">
                    Complete your coding tasks directly within the editor, test your solution by running it, and submit
                    your work to earn points. Successfully completing tasks helps you level up, track your progress, and
                    enhance your skills in a structured way.
                </p>
            </div>
        </div>
    </div>
    <!-- single feature 4 end (Right) -->
</section>
<!-- Features Section End -->

<!-- Stats Section Start -->
<section id="stats" class="section mt-6">
    <div class="has-text-centered">
        <h1 class="title lined">Stats</h1>
        <div class="line line-center blurple"></div>
    </div>

    <div class="columns mt-6" style="margin:auto">
        <div class="column has-text-centered">
            <p class="title has-text-weight-bold lined">027</p>
            <span class="subtitle has-text-weight-bold blurple"><i class="fa-solid fa-server"></i> Tasks</span>
        </div>

        <div class="column has-text-centered">
            <p class="title has-text-weight-bold lined">003</p>
            <span class="subtitle has-text-weight-bold blurple"><i class="fa-solid fa-terminal"></i> Languages</span>
        </div>

        <div class="column has-text-centered">
            <p class="title has-text-weight-bold lined">027</p>
            <span class="subtitle has-text-weight-bold blurple"><i class="fa-solid fa-users"></i> Users</span>
        </div>
    </div>
</section>
<!-- Stats Section End -->
<!-- Stats Section Start -->
<section id="leaderboard" class="section mt-6" style="display: flex; justify-content: center;">
    <main>
        <div id="header">
            <h1>leaderboard</h1>

        </div>
        <div id="leaderboard">
            <div class="ribbon"></div>
            <table>
                <!-- <tr>
              <td class="place first" >1</td>
              <td class="name">Lee Taeyong</td>
              <td class="points">258 <img class="gold-medal" src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true" alt="gold medal"/>
              </td>
            </tr>
            <tr>
              <td class="place">2</td>
              <td class="name">Mark Lee</td>
              <td class="points">242</td>
            </tr>
            <tr>
              <td class="place">3</td>
              <td class="name">Xiao Dejun</td>
              <td class="points">223</td>
            </tr>
            <tr>
              <td class="place">4</td>
              <td class="name">Qian Kun</td>
              <td class="points">212</td>
            </tr>
            <tr>
              <td class="place">5</td>
              <td class="name">Johnny Suh</td>
              <td class="points">208</td>
            </tr> -->
            </table>
        </div>
    </main>
</section>
<!-- Stats Section End -->
<!-- Invite Section Start -->
<section class="section mt-6">
    <div class="columns" style="margin:auto">
        <div class="column has-text-left">
            <p class="title has-text-weight-bold">
                Ready to try our website?
            </p>
            <p class="subtitle mt-3 has-text-gray">
                Join CodeQuest today and start unlocking your coding potential by registering down below!
            </p>
            <a href="register" class="button is-blurple is-medium"><strong><i class="fa-solid fa-book"></i> Get
                    Started</strong></a>
        </div>

    </div>
</section>
<!-- Invite Section End -->

<!-- Footer Section Start -->
<footer class="footer bg-base">
    <div class="content has-text-centered has-text-white">
        <div class="mb-2">
            <a href="#" class="has-text-white" target="_blank">
                <i class="fa-brands fa-discord"></i>
            </a>
            &nbsp; &nbsp;
            <a href="https://github.com/AmiranRogava" class="has-text-white" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>

        <p>
            &copy; <span id="cp-year"></span> Copyright All Rights Reserved.
        </p>
    </div>
</footer>
<!-- Footer Section End -->

<script src="{{ url_for('static', filename='js/aos.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.js') }}"></script>
<script src="{{ url_for('static', filename='js/tippy.js') }}"></script>

<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script src="{{ url_for('static', filename='js/leaderboard.js') }}"></script>
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>

{% endblock %}