{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<div class="login">
    <!-- <img src="{{ url_for('static', filename='src/logo.png') }}" alt="Hosting"> -->
    <h2>Login to Continue</h2>
    <div>
        <label for="username_or_email">USERNAME OR EMAIL</label>
        <input type="text" id="username_or_email">
    </div>
    <div>
        <label for="password">PASSWORD</label>
        <input type="password" id="password">
    </div>
    <p class="res"></p>
    <button class="log">LOGIN</button>
    <div>
        <a href="/reset">FORGOT PASSWORD?</a>
        <a href="/register">NO ACCOUNT?</a>
    </div>
</div>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>

{% endblock %}
