{% extends 'layout.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">

<div class="reset">
    <img src="{{ url_for('static', filename='src/node.png') }}" alt="Hosting">
    <h2>Request Password Reset</h2>
    <div>
        <label for="email">email</label>
        <input type="text" id="email">
        <p>Enter your account email address to receive instructions on resetting your password.</p>
    </div>
    <button>send email</button>
    <a href="/">return to login</a>
</div>
{% endblock %}
